DB_HOST=host_de_la_base_de_datos (por ejemplo: 127.0.0.1)
DB_USER=usuario_de_la_base_de_datos
DB_PASS=contraseña_de_la_base_de_datos
DB_NAME=nombre_de_la_base_de_datos
DB_PORT=Puerto de la base de datos (por defecto: 3306)

# Configuración SMTP (Mailtrap para pruebas)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario_mailtrap
SMTP_PASS=tu_password_mailtrap
SMTP_FROM_EMAIL=noreply@clothingstore.com
SMTP_FROM_NAME="Clothing Store"
